<div class="p-10 flex-col">
    <h1 class="text-3xl font-bold">
        Equipamento
    </h1>

    <div class="flex-row">
        <form class="mt-5 mb-5">
            <input type="text" placeholder="Identificacao">
            <input type="text" placeholder="Marca">
            <input type="text" placeholder="Modelo">
            <input type="text" placeholder="Cor">

            <select id="">
                <option disabled selected>Tipo</option>
                <option value="CEL">Celular</option>
                <option value="TBL">Tablet</option>
                <option value="NTB">Notebook</option>
            </select>
        </form>
        <!-- 
        <p class="mr-3"> <button class="bg-red-500 text-white px-3 py-2 rounded-md"
                routerLink="/cadastro">Cadastrar</button> </p> -->
    </div>
</div>

<p class="mr-3"> <button class="bg-red-500 text-white px-3 py-2 rounded-md"
    routerLink="/cadastro">Cadastrar</button> </p>