<header class="h-12 px-3 bg-red-700 text-white flex items-center justify-between">
  <span class="flex"><small> Olá, <b>Lucas Thomaz</b></small></span>
  <span class="text-xl"> {{ title }} </span>
  <nav>
    <ul class="flex gap-4">
      <li> <a href="/"> Dashboard</a> </li>
      <li> <a href="/cliente-cadastro"> Clientes </a> </li>
      <li> <a href="/cliente-equipamento"> Equipamentos</a> </li>
      <li> <a href="/cliente-os"> Ordem Servico</a> </li>
      <li routerLink="configuracao">Config.</li>
    </ul>
  </nav>
</header>

<main class="p-3">
  <router-outlet></router-outlet>
</main>