<div class="p-10 flex-col">
    <h1 class="text-3xl font-bold">
        Dados básicos
    </h1>

    <div class="flex-row">
        <form class="mt-5 mb-5">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="text" placeholder="CPF/RNE">
            <input type="text" placeholder="Email">
            <select id="">
                <option disabled selected>Nacionalidade</option>
                <option value="BRA">Brasileira</option>
                <option value="RNE">Estrangeira</option>
            </select>
        </form>

        <p class="mr-3"> <button class="bg-red-500 text-white px-3 py-2 rounded-md"
                routerLink="/cadastro">Cadastrar</button> </p>
    </div>
</div>

<div class="p-10 flex-col">
    <h1 class="text-3xl font-bold">
        Dados que vão ajudar lhe identificar :)
    </h1>

    <div class="flex-row">
        <form class="mt-5 mb-5">
            <input type="text" placeholder="CEP">
            <input type="text" placeholder="Endereco (rua, numero)">
            <input type="text" placeholder="Cidade">
            <input type="text" placeholder="Bairro">
            <select id="">
                <option disabled selected>Nacionalidade</option>
                <option value="BRA">Brasileira</option>
                <option value="RNE">Estrangeira</option>
            </select>
        </form>

        <p class="mr-3"> <button class="bg-red-500 text-white px-3 py-2 rounded-md"
                routerLink="/cadastro">Cadastrar</button> </p>
    </div>
</div>